<div class="login-form admin-login">
    <div class="login-form__header">
        <div class="icon-circle">
            <i class="fa fa-user fa-2x center-it"></i>
        </div>
        <label>Admin Login</label>
    </div>
    <div class="login-form__body">
        <form [formGroup]="LoginForm.getForm()" (ngSubmit)="onFormSubmit()">

            <div class="form-group" [ngClass]="LoginForm.hasError('email') ? 'has-error': ''">
                <input type="email" formControlName="email" class="form-control" placeholder="Enter Email">
                <span class="help-block" *ngIf="LoginForm.hasError('email')">
          {{ LoginForm.getError('email') }}
        </span>
            </div>

            <div class="form-group" [ngClass]="LoginForm.hasError('password') ? 'has-error': ''">
                <input type="password" formControlName="password" class="form-control" placeholder="Enter Password">
                <span class="help-block" *ngIf="LoginForm.hasError('password')">
          {{ LoginForm.getError('password') }}
        </span>
            </div>

            <button #submit type="submit" class="btn btn-hl full-width input-md">Login</button>

            <div class="row">
                <div class="col-xs-6">

                </div>
                <div class="col-xs-6 text-right">
                    <a routerLink="/user/register">
                        Register
                    </a>
                </div>
            </div>

        </form>
    </div>
</div>
